{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>
<div class="jumbotron">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>

{% if socialaccount.providers  %}

    <div class="col-sm-4 social-sizes" >
      <a class="btn btn-block btn-lg btn-social btn-google"><i class="fa fa-google-plus"></i>Sign in with Google</a>
      <a class="btn btn-block btn-lg btn-social btn-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
    </div>
    <div class="socialaccount_ballot col-sm-4">
        <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
    </div>
{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
  </div>    
</div>
</div>

{% endblock %}
