.logged-out {
    background: gainsboro url("/static/homepage/img/mycity.jpg") no-repeat center 30px;
    background-size: cover;
 }
.logged-in {
 }

.mapcanvas {
    height: 300px;
}
.pull-right {
        float:right;
    }
.sociallogindiv {
    width: 50%; 
    margin: 0 auto;
}
