{% load url from future %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block headtitle %}{% endblock headtitle %}</title>
    {% block extrahead %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/jumbotron/jumbotron-narrow.css' %}" rel="stylesheet" media="screen"> 
    <link rel="stylesheet" type="text/css" href="{% static "homepage/css/style.css" %}" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWOh9LKSGY1qjHb2thqjYnh6OiBKqowQ8">
    </script>
    <script type="text/javascript">
      var geocoder;  
      var map  
      var marker
      var markeropts
      var home = new google.maps.LatLng(40.71797910802078, -74.04299139976501);
      var infowindow = new google.maps.InfoWindow();

      function initialize() {
        //elem.value = results[0].formatted_address; // Change field
        var address_elem = document.getElementById("address"); // Get text field
        var lat_elem = document.getElementById("lat"); // Get text field
        var lng_elem = document.getElementById("lng"); // Get text field
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
          center: home,
          zoom: 14 
        };
        markeropts = {
            position: home
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
        marker = new google.maps.Marker(markeropts) ;
        marker.setDraggable(true)    ;
        marker.setMap(map);
        google.maps.event.addListener(marker, "dragend", function(event) {
           console.log("drag ended");
           var lat = event.latLng.lat();
           var lng = event.latLng.lng();
           lat_elem.value = lat;
           lng_elem.value = lng ;
           var latlng = new google.maps.LatLng(lat, lng);
           geocoder.geocode({'latLng': latlng}, function(results, status) {
           if (status == google.maps.GeocoderStatus.OK) {
           if (results[0]) {
                map.setZoom(14);
                infowindow.setContent(results[0].formatted_address);
                infowindow.open(map, marker);
                address_elem.value =results[0].formatted_address; // Change field
                }

            } else {
                elem.value = "Please try again "; // Change field
                lat_elem.value = "40.71797910802078" 
                lng_elem.value = "-74.04299139976501" 
                alert("Cannot locate your address please drag the pointer again");
              }

            }); 
        });
      }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    {% endblock extrahead %}
</head>
<body>
    {% block partbody %}
    {% endblock partbody %}
    {% block extrabody %}
     <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'bootstrap-social-gh-pages/bootstrap-social.less' %}"></script>
     <script src="{% static 'bootstrap-social-gh-pages/assets/js/docs.js' %}"></script>
     <script src="{% static 'bootstrap-social-gh-pages/assets/js/jquery.js' %}"></script>
     {% endblock extrabody %}
</body>
</html>

