{% extends "cityauthbase.html" %}
{% load url from future %}
{% load staticfiles %}
{% load i18n %}
{% block headtitle %}{% trans "JC Community Alerts" %}{% endblock headtitle%}
{% block partbody %}
    <div class="container">
      {% if request.user.is_authenticated %}
       <div class="header" >
        <ul class="nav nav-pills pull-left">
            <li><p><img src="{{ request.user.profile.profile_image_url }}"/></p></li>
            <li><p>&nbsp;&nbsp;{{ request.user.first_name }} {{ request.user.last_name }} </p></li>
            {% else %}
            <li><p>&nbsp;&nbsp;{{ request.user.username }}</p></li>
            {% endif %}
      </ul>
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/alert/preference">Setting</a></li>
          <li><a href="/accounts/logout/" class="pull-right">Logout</a></li>
      </ul>
    </div>
    <div class="logged-in" style="margin-top: 100px">
        <form action="/subscriber/preference/" method="POST">
            {% csrf_token %} 
            <table class="table">
              <tbody>
                <tr>
                    <td>Address</td>
                    <td><input type="text" name="address" id="address" readonly/> {% if form.lat.errors or form.lat.errors %}<h6>Please select address</h6>{% endif %}</td>
                </tr>
                <tr >
                    <td colspan=2><div id="map-canvas" class="mapcanvas"></div></td>
                </tr> 
                <tr>
                  <td>Alert Preference</td>
                  <td>
                      {% for uicc  in form.ui_call_code %} 
                     <tr>
                         <td colspan='2'>   
                         <ul>
                             <input type="checkbox" name="code" value={{ uicc.call_code }}> {{ uicc.call_code_desc }} </input>
                         </ul>
                        </td>
                     </tr>
                    {% endfor %}    
                  </td>
                </tr> 
                <tr>
                  <td>Phone</td>
                  <td><input type="text" name="phonenumber" /> {{ form.phone.errors }}</td>
               </tr> 
               <tr>
                  <td colspan="2" ><input type="submit" name="submit" value="SAVE" /></td>
                </tr>
              </tbody>
            </table>
            <input type="hidden" id="lat" name="lat"/>
            <input type="hidden" id="lng" name="lng"/>
            <input type="hidden" name="username" value="{{ request.user.email }}" />
        </form>

    </div> <!-- background img-->

    <div class="footer">
        <p>&copy; OpenJC</p>
    </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% endblock partbody%}
