{% extends "cityauthbase.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load socialaccount %}
{% block headtitle %}{% trans "JC Community Alerts" %}{% endblock headtitle %}
    {% block extrahead %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "bootstrap/css/jumbotron/jumbotron-narrow.css" %}" rel="stylesheet" media="screen"> 
    <link rel="stylesheet" type="text/css" href="{% static "homepage/css/style.css" %}" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWOh9LKSGY1qjHb2thqjYnh6OiBKqowQ8">
    </script>
    <script type="text/javascript">
      var geocoder;  
      var map  
      var marker
      var markeropts
      var home = new google.maps.LatLng(40.71797910802078, -74.04299139976501);
      var infowindow = new google.maps.InfoWindow();

      function initialize() {
        //elem.value = results[0].formatted_address; // Change field
        var address_elem = document.getElementById("address"); // Get text field
        var lat_elem = document.getElementById("lat"); // Get text field
        var lng_elem = document.getElementById("lng"); // Get text field
        geocoder = new google.maps.Geocoder();
        var mapOptions = {
          center: home,
          zoom: 14 
        };
        markeropts = {
            position: home
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
        marker = new google.maps.Marker(markeropts) ;
        marker.setDraggable(true)    ;
        marker.setMap(map);
        google.maps.event.addListener(marker, "dragend", function(event) {
           console.log("drag ended");
           var lat = event.latLng.lat();
           var lng = event.latLng.lng();
           lat_elem.value = lat;
           lng_elem.value = lng ;
           var latlng = new google.maps.LatLng(lat, lng);
           geocoder.geocode({'latLng': latlng}, function(results, status) {
           if (status == google.maps.GeocoderStatus.OK) {
           if (results[0]) {
                map.setZoom(14);
                infowindow.setContent(results[0].formatted_address);
                infowindow.open(map, marker);
                address_elem.value =results[0].formatted_address; // Change field
                }

            } else {
                elem.value = "Please try again "; // Change field
                lat_elem.value = "40.71797910802078" 
                lng_elem.value = "-74.04299139976501" 
                alert("Cannot locate your address please drag the pointer again");
              }

            }); 
        });
      }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    {% endblock extrahead %}
{% block partbody %}
    <div class="container">
      {% if request.user.is_authenticated %}
       <div class="header" >
          <ul class="nav nav-pills pull-left">
                {% if request.user.first_name or request.user.last_name %}
                <li><p><img src="{{ request.user.profile.profile_image_url }}"/></p></li>
                <li><p>&nbsp;&nbsp;{{ request.user.first_name }} {{ request.user.last_name }} </p></li>
                {% else %}
                <li><p>&nbsp;&nbsp;{{ request.user.username }}</p></li>
                {% endif %}
        </ul>
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/subscriber/preference/">Setting</a></li>
          <li><a href="/accounts/logout/" class="pull-right">Logout</a></li>
        </ul>
      </div>
      <div class="logged-in">

      {% else %}
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <h3 class="text-muted">JC Community Alerts</h3>
      </div>
      <div class="jumbotron logged-out">

        <div class="sociallogindiv" style="height: 200px"></div>
        {% for provider in socialaccount.providers %}
              {% if provider.id == "facebook" %}
                <div class="sociallogindiv">
                        <p><a title="{{provider.name}}" href="{% provider_login_url provider.id process=process %}" class="btn btn-block btn-primary socialaccount_provider {{provider.id}}">Sign in with Facebook</a></p>
                </div>
              {% endif %}
              {% if provider.id == "google" %}
                <div class="sociallogindiv">
                        <p><a title="{{provider.name}}" href="{% provider_login_url provider.id process=process %}" class="btn btn-block btn-danger socialaccount_provider {{provider.id}}">Sign in with Google</a></p>
                </div>
                {% endif %}
        {% endfor %}
      </div>
    </div> <!-- background img-->
   {% endif %}
 </div> <!-- /container -->
 {% endblock partbody %}
    {% block extrabody %}
     <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'bootstrap-social-gh-pages/bootstrap-social.less' %}"></script>
     <script src="{% static 'bootstrap-social-gh-pages/assets/js/docs.js' %}"></script>
     <script src="{% static 'bootstrap-social-gh-pages/assets/js/jquery.js' %}"></script>
     {% endblock extrabody %}

